<tr>
   <td><%= order.id %></td>
   <td><%= order.user.name %></td>
   <td><%= order.user.id %></td>
   <td><%= order.created_at %></td>
   <td><%= order.cost %></td>
   <td><%= order.payment_method %></td>
   <% if @type_paid == "unpaid" %>
     <td><%= t "order.paid" %></td>
   <% elsif @type_paid == "paid" %>
     <td><%= order.paid_at %></td>
   <% end %>
   <td>
     <%= link_to t("order.view"), [:admin, order], class: "btn btn-primary" %>
   </td>
   <td><%= t "order.delete" %></td>
 </tr>
